<style>
    #to-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 100px;
        padding: 5px;
        border: 1px solid #ccc;
        background: #999;
        color: #A5243A;
        text-align: center;
        cursor: pointer;
        display: none;
    }

    .resultsRefine {
        height: 40px;
        font-weight: 600;
    }

    .alertMsg {
        position: fixed;
        top: 5%;
        left: 0;
        width: 100%;
        height: 35px;
        background-color: #19f722;
        text-align: center;
    }

    .indiProdDiv {
        width: 100%;
        font-family: PTSans-semibold;
    }

    .seperation {
        border-radius: 25px;
        border-color: #d9534f;
        background-color: white;
    }
    .pageTitle{
        width:100%;margin-bottom: 5%;margin-top: 5%;font-family:PTSans-semibold;
    }
    .itemDiv{
        margin-top:5px;margin-bottom:5px;font-size:16px;
    }
</style>

<!-- header image -->
<div style="background-color:#eee;">
    <div>
        <img src="http://assets.fellowes.com/images/misc/banner_iphone6.png" height=100px; width="100%">
        </img>
    </div>

    <!-- header content -->
    <div class="pageTitle">
        <div style="display:inline-block;width:75%;font-size:32px;">iPhone 6/6s</div>

        <div style="display:inline-block;width:17%; float:right; ">
            <button type="button" class=" resultsRefine btn btn-default " ng-click="openFilterModal()">Refine</button>
        </div>
    </div>
    <!-- msg on click of atc -->
    <div ng-show="alertDisplayed" class="alertMsg"> Item added to cart successfully !</div>
    <!-- actual product Listing -->

    <div class="seperation" ng-repeat="items in productData">
        <div class="indiProdDiv" ng-click="viewDetailModal()">
            <div style="width:60%;display: inline-block;">
                <img ng-src="{{items.HeroShot.ThumbnailUrl}}" height="160"
                     width="160"></img>
            </div>
            <!-- product data -->
            <div style="display: inline-block;float:right;width:40%;">
                <div style="font-family:PTSans-semibold;font-size:18px;font-weight:800;margin-bottom:5px;">Price :
                    ${{items.CoreProperties.ExtendedPrice}}
                </div>
                <img ng-src="{{items.FeatureOptions[0].Icon.ThumbnailUrl}}" height="40" width="40">{{items.FeatureOptions[0].DisplayName}}</img>
                <div class="itemDiv">{{items.DisplayName}}</div>
                <!-- button decision -->
                <div ng-switch on="items.CoreProperties.InStock">

                    <div ng-switch-when="true">
                        <button class="form-button orange primary "
                                style="height: 40px !important;background-color: #06bef0;" ng-click="display()">
                    <span class="button-inner" style=" margin-right: 52px; ">
                    <span class="button-text">Add to Cart</span>
                </span>
                        </button>

                    </div>

                    <div ng-switch-when="false">
                        <button class="wide-button" style="height: 40px !important;color:#661121" disabled="true">
                            <span class="button-inner" style=" margin-right: 52px; ">
                    <span class="button-text">Out Of Stock</span>
                </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <hr>
    </div>

    <div id="to-top">Back to Top</div>
</div>